.drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top ease 500ms;

  .handle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: green;
  }

  .galery {
    display: flex;
    flex-direction: row;
    padding: 10px;

    overflow: auto;
    scroll-snap-type: x mandatory;

    & > * + * {
      margin-left: 10px;
    }

    & > .card {
      padding: 8px;
      scroll-snap-align: center;
      flex: none;
      background: white;
      display: flex;
      flex-direction: column;
      height: 140px;
      width: 100px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      & > .image {
        flex: 1;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
