.galery {
  display: flex;
  flex-direction: row;
  flex-basis: 200px;
  align-items: stretch;

  & > .image {
    display: flex;
    flex-basis: 200px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
