.tangram {
  display: flex;
  position: relative;
  flex: 1;

  & > canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  & > canvas + canvas {
    opacity: 0.25;
    pointer-events: none;
  }

  & > div {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
